<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Academic Editing</title>
<link rel="stylesheet" href="..//assests//css//bootstrap//bootstrap.min.css">

</head>
 
<body>
    <div class="page-header">
          <h1 class="text-center"><u>Academic Assessment</u></h1>
    </div>
  <div class="lead"> 
        <div class="row">
                <label class=" control-label col-sm-offset-2 col-sm-2" for="faculty">Faculty Name:</label>  
                 <div class=" col-sm-2 col-sm-2">
                           <select id="company" class="form-control">
                                       <option>Faculty1</option>
                                       <option>Faculty2</option>
                                       <option>Faculty3</option>
                                       <option>Faculty4</option>
                                       <option>Faculty5</option>
                           </select> 
                 </div>
                <label class=" control-label col-sm-offset-2 col-sm-2" for="faculty">Subject Code:</label>  
                  <div class=" col-sm-2 col-sm-2">
                           <select id="company" class="form-control">
                                       <option>Code1</option>
                                       <option>Code2</option>
                                       <option>Code3</option>
                                       <option>Code4</option>
                                       <option>Code5</option>
                           </select> 
                  </div>
        </div> 

         <div class="container">
             <h3><div class="panel-heading"><u>Faculty Assesment:</u></div></h3>  
         </div>
                            <div class="container">
                                     
                                                        <strong class="col-lg-6">1.) Availability to bring conceptual clarity</strong>
                                                            <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                            </div>
                                                        <strong class="col-lg-6">2.) Teacher's Subject Knowledge</strong>
                                                            <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                            </div>
                                                        <strong class="col-lg-6">3.) Compliments theory with practical examples</strong>
                                                            <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                            </div>
                                                         <strong class="col-lg-6">4.)Handling of cases/ assignment/ exercises/ activities</strong>
                                                            <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                            </div>
                                       
                                                   
                            </div>
                        
                        <div class="container">
                                               
                                                <strong class="col-lg-6">5.)Motivation Provided By Teacher</strong>
                                                        <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                         </div>
                                                <strong class="col-lg-6">6.)Ability of control the class</strong>
                                                        <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                         </div>
                                                <strong class="col-lg-6">7.)Completion and coverage of course</strong>
                                                        <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                         </div>
                                                <strong class="col-lg-6">8.)Teacher's communication of skill  </strong>
                                                        <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                         </div>
                                                 <strong class="col-lg-6">9.)Teacher's Regularity and Punctuality</strong>
                                                        <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                         </div>
                                                 <strong class="col-lg-6">10.)Interaction and Guidance Outside the Classroom</strong>
                                                        <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                         </div>
                        </div>
   <div class="container">
        <label class="col-lg-6">Any Other Suggestions(Regarding Subject):</label>
         <div class="col-sm-6">
            <textarea rows="5" columns="5" width="100%"name="message" class="input-block-level" id="message" placeholder="Comments"></textarea>
         </div>
   </div>

        <div class="container">
             <h3><div class="panel-heading"><u>Course Assesment:</u></div></h3>  
         </div>
                            <div class="container">
                                    <strong class="col-lg-6">1.)Relevance Of Syllabus As Per Industry Requirement</strong>
                                        <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                        </div>
                            </div>
                            <div class="container">
                                    <strong class="col-lg-6">2.)Sufficiency Of Course Content</strong>
                                            <div class="col-sm-6">
                                                                       <label class="radio-inline">
                                                                         <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                             </div>
                            </div>

    <div class="container">
        <label class="col-lg-6">Any Other Suggestions(Regarding Subject):</label>
         <div class="col-sm-6">
            <textarea rows="5" columns="5" width="100%"name="message" class="input-block-level" id="message" placeholder="Comments"></textarea>  
    </div>
</div>
   
                            </div>
                                 <div class="col-sm-offset-8"> <button type="button" class="btn btn-primary">Submit</button>  
                            </div>    
          
 </div>            
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="..//assets//js/bootstrap.min.js"></script>
</body>
</html>