<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>InfraEditing</title>
<link rel="stylesheet" href="..//assests//css//bootstrap//bootstrap.min.css">

</head>
 
<body>
  

<div class="panel-heading">
     <div class="container">
      <center>Header</center>
     </div>
</div>

    <div class="page-header">
          <h1 class="text-center"><u><em>InfraStructure Support</em></u></h1>
    </div>
  <div class="lead">
      <div class="panel-body">
                     <div class="container">
                                                   
                                                        <strong class="col-lg-6">1.) Availability of Books in Library</strong>
                                                            <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                            </div>
                                                   
                                               
                                                        <strong class="col-lg-6">2.)Basic Requirements like Furniture, Chalk, Duster</strong>
                                                            <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                            </div>
                                               
                                                
                                                        <strong class="col-lg-6">3.) Compliments theory with practical examples</strong>
                                                            <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                            </div>
                                                 
                                                         <strong class="col-lg-6">4.)Handling of cases/ assignment/ exercises/ activities</strong>
                                                            <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                            </div>
                                               
                                       
                                                   
                    </div>                
                        <div class="container">
                                               
                                                <strong class="col-lg-6">5.)Motivation Provided By Teacher</strong>
                                                        <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                         </div>
                                                <strong class="col-lg-6">6.)Ability of control the class</strong>
                                                        <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                         </div>
                                                <strong class="col-lg-6">7.)Completion and coverage of course</strong>
                                                        <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                         </div>
                                                <strong class="col-lg-6">8.)Teacher's communication of skill  </strong>
                                                        <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                         </div>
                                                 <strong class="col-lg-6">9.)Teacher's Regularity and Punctuality</strong>
                                                        <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                         </div>
                                                 <strong class="col-lg-6">10.)Interaction and Guidance Outside the Classroom</strong>
                                                        <div class="col-sm-6">
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Very poor
                                                                        </label> 
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Poor
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Good
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                           <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Average
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Excellent
                                                                        </label>
                                                        <div>
                                                        	
                                   </div>
                              <div class="col-lg-6"> <button type="button" class="btn btn-primary">Submit</button>     
                               </div>    
     </div>
 </div> 

   
    <div class="footer">
      <div class="container">
        <center>Place sticky footer content here.</center>
      </div>
    </div>
          
           
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
<script src="..//assets//js/bootstrap.min.js"></script>
</body>
</html>